<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Invitá un amigo</title>
<link rel="stylesheet" type="text/css" href="gracias.css"/>

</head>

<body>

    <div id="header">
    	<%= image_tag "cabecera.png", width: "1178", height: "438", alt: "img1" />
    </div>
    
    <div id="content">
    
        <h1>Gracias!</h1>
        <p>Nos encanta compartir este espacio con todos ustedes!</p>
        <%= image_tag "logo.png", width:"100", height:"88", alt:"logo" %>
        
    </div><!--Fin content-->

    <div id="pie">
    	<p>Método DeRose - Cerviño | Tel: 4801 8522 | www.derosecervino.com.ar</p>
    </div>

</body>
</html>
