<table>
  <tr>
    <th>Alumno</th>
    <th>Invitado</th>
    <th>Email</th>
  </tr>
  <% @invitations.each do |i| -%>
    <tr>
      <td><%= i.inviter_name %></td>
      <td><%= i.invited_name %></td>
      <td><%= i.invited_email %></td>
    </tr>
  <% end -%>
</table>
